<% content_for :head do %>
  <meta name="title" content="<%=@user.username %>">
  <meta name="description" content="<%=@user.username %>のマイページ">
<% end %>

<div class="container">
    <div class="row">
        <div class="col-md-3 user-profile">
            <h4><%= @user.username %></h4>
            <% if @user.remote_avatar != nil %>
                <p><%= link_to image_tag(@user.remote_avatar , alt: @user.username), user_path(@user) %></p>
            <% else %>
                <p><%= link_to image_tag(@user.avatar.url , alt: @user.username), user_path(@user) %></p>
            <% end %>
            <p>生年月日: <%= @user.birth %></p>
            <p>性別: <%= @user.gender %></p>
            <p>現在地: <%= @user.place %></p>
            <% if @user == current_user %>
                <%= link_to "プロフィールの編集", edit_user_path(@user), class: "btn btn-large btn-info" %>
            <% end %>

        </div> 
    </div>
</div>
